@charset "utf-8";

/*  나의 아카이브 사이트 초기화 CSS - main.css */

/* 외부 CSS 불러오기 */

@import url(./reset.css);
@import url(./core.css);

/* 전체 배경색 */
body {
  background-color: #4682cf;
}
/* 1.상단영역 */
/* 겉박스 */
#top-area {
  background-color: #fff;
}
/* 속박스 */
.top-area .part-box{
    padding-top: 10px;
    /* 상단영역 높이값 동일셋팅! */
  height: 112px;
}
/* 로고이미지 */
.logo {
  width: 100%;
  aspect-ratio: 220/80;
  
}
