@charset "utf-8";

/* 심슨 가족 애니메이션 코드 : simpson_ani.css */

/* [ 트랜스폼 사용법 ]
((y축회전))
transform: rotateY(각도deg);
-> 같은세팅
rotate: y 각도deg; */

  /* ex) animation: door-ani 2s ease-in-out 1s 3 alternate forwards; */
  /* alternate는 from->to 경로 애니를
    반대방향도 진행하주는 옵션값임
    
    forwards는 애니가 끝나면 처음값으로 돌아가는
    기본값(backwards)이 아닌 끝나는 값으로 유지하게 하는 옵션값임*/


/* 2-1. 심슨 애니 호출설정 */
.saturn {
  /* 애니메이션 - animation: 이시이지반방마 */
  animation: saturn-ani 4.5s 0.5s forwards;
}

/* 2-2. 토성 날아오기 키프레임 */
@keyframes saturn-ani {
  0% {
    top: 298px;
    left: 357px;
    width: 34px;
  }

  10% {
    top: 299px;
    left: 349px;
    width: 43px;
    /* 문보다 위로오게 만들기 */
    z-index: 1;
  }
  25% {
    top: 313px;
    left: 376px;
    width: 48px;
    /* 문보다 위로오게 만들기 */
    z-index: 1;
    rotate: 0deg;
  }
  40% {
    top: 301px;
    left: 303px;
    width: 67px;
    z-index: 1;
    rotate: -15deg;
  }
  65% {
    top: 316px;
    left: 369px;
    width: 76px;
    z-index: 1;
    rotate: 3deg;
  }
  80% {
    top: 301px;
    left: 351px;
    width: 93px;
    z-index: 1;
    rotate: -7deg;
  }
  90% {
    top: 306px;
    left: 254px;
    width: 117px;
    z-index: 1;
    rotate: -15deg;
  }
  100% {
    top: 151px;
    left: 234px;
    width: 323px;
    z-index: 1;
    rotate: 0deg;
  }
}

/* 2.5)  말풍선 나오기 호출설정 */
.words {
  animation: words-ani 0.8s ease-out 5.5s forwards;
}

/* 2.5-2 말풍선 키프레임 */
@keyframes words-ani {
  to {
    opacity: 1;
  }
}

/* 3. 달 튀어나오기 호출설정 */

.moon {
  /* 애니메이션 - animation: 이시이지반방마 */
  animation: moon-ani 1s ease-out 5s forwards;
}

/* 달 애니 키프레임 */
@keyframes moon-ani {
  /* from 혹은 0% 설정이 원본세팅과 같다면 생략이 가능하다 */
  /* to 혹은 100% 세팅만 설정 */
  to {
    right: -211px;
    rotate: -15deg;
  }
}

/* 4. 해 튀어나오기 호출설정 */
.sun {
  animation: sun-ani 1s ease-out 5.5s forwards;
}
/* 해 애니 키프레임 */
@keyframes sun-ani {
  to {
    left: -58px;
  }
}

/* 5.슈퍼맨 나오기 호출설정 */
.s-man{
  /* 슈퍼맨 등장 */
  animation:
 s-man-ani 1s ease-out 6s forwards,
  /* 업다운애니 */ 
 s-man-updown-ani 0.5s ease-in-out 7s infinite alternate,
  /* 왔다갔다 */
 s-man-comego-ani 8s ease-in-out 11s infinite alternate;
}
/* 슈퍼맨 애니 키프레임 */
@keyframes s-man-ani {
  to {
    bottom: 97px;
    left: 128px;
    width: 125px;
  }
}
/* 슈퍼맨 업다운 */
@keyframes s-man-updown-ani {
  to {
    translate: 0 5%;
  }
}
/* 슈퍼맨 왔다갔다 */
@keyframes s-man-comego-ani {
  to{
    translate: 570px; 
  }
}
/* 6-1.명왕성 애니*/
.pluto {
  /* 명왕성등장 */
  animation: pluto-ani 0.8s ease-out 7s forwards,
    /* 명왕성떨어짐 */ pluto-falling-ani 0.5s ease-in 8.5s forwards,
    /* 명왕성올라옴 */ pluto-up-ani 1s ease-out 11s forwards;
}

/* 6-2-1명왕성 키프레임 : 등장애니 */
@keyframes pluto-ani {
  to {
    top: -170px;
  }
}
/* 6-2-1명왕성 키프레임 : 떨어지는애니 */
@keyframes pluto-falling-ani {
  to {
    top: 458px;
    rotate: -36deg;
  }
}
/* 6-2-1명왕성 키프레임 : 올라오는애니 */
@keyframes pluto-up-ani {
  to {
    top: 281px;
    rotate: 0deg;
    right: 165px;
    z-index: 1;
}
}
  