@charset "utf-8";
/* 심슨 가족 인사 애니메이션 CSS - simpson.css */

@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap");

h1{
    color: gold;
    text-align: center;
    border: 4px solid blue;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 40%;
    font-size: 36px;
}

/* 전체박스 */
.house {
  width: 800px;
  height: 441px;
  /* 배경이미지 */
  background: url(../images/house.png) no-repeat;
  /* 부모자격 부여 - 하위 앱솔루트 요소들 */
  position: relative;
  margin: 0 auto;
    /* 입체적용
    문짝(.door)을 원근 입체로 보이게 하기위해
    부모요소인 .house에 원근설정을 한다 
    perspective: 수치값;
    -> 수치값의 의미는 기준축으로 부터 소실점까지의 거리
    -> 이 값이 어떤 기준수치값 보다 작으면 원근이 심해짐*/
  perspective: 480px;
  overflow: hidden;
}

/* 임시로 숨기기 */
.door ~ * {
  display: none;
}
/* 1. 심슨 */
.simpson {
  position: absolute;
  top: 298px;
  left: 357px;
  /* 부모는? : .house -> relative부여됨 */
  width: 34px;
}

/* 2. 문짝 */
.door {
  position: absolute;
  top: 285px;
  left: 359px;
  /* 부모는? .house */

  /* 문 회전축 오른쪽으로 변경 */
  transform-origin: right;

  /* 문 y축으로 회전테스트 */
  /* rotate: y 130deg; */
}
