@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 전체 배경넣기 */
body {
  /* 배경이미지 고정형 세팅 */
  background: #000000 url(../images/bg.jpg) no-repeat fixed top/cover;
}
/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/*************************************** 1.상단영역 ***************************************/

/*************************************** 2.메인영역 ***************************************/
.main-area {
  padding-top: 150px;
}
/* 로봇머리 */
.robot-head {
  /* 부모자격 - 자식 앱솔루트의 부모 */
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 0 0 50% 50%;
}
/* 가상요소로 머리카락 만들기 */
.robot-head::after {
  content: "";
  position: absolute;
  width: 180%;
  height: 120%;
  top: -55%;
  left: -40%;
  /* translate: -50%; */
  background: url(../images/hair3.png) no-repeat 0/100% 100%;
}
/* 자식요소 모두 앱솔루트 만들기 */
.robot-head > div {
  position: absolute;
}

/* 눈공통 */
.eye {
  top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px double #000;
  /* 배경공통 */
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* 왼눈 */
.eye1 {
  background-image: url(../images/e1.jpg);
  left: 50%;
  translate: -130%;
}
/* 오른눈 */
.eye2 {
  background-image: url(../images/e2.jpg);
  right: 50%;
  translate: 130%;
}

/* 코 */
.nose {
  background: url(../images/nose.jpg) no-repeat 0/110% 100%;
  top: 73px;
  left: 50%;
  width: 58px;
  height: 87px;
  border-radius: 40%;
  translate: -50%;
}
/* 입 */
.mouth {
  background: url(../images/mouth.png) no-repeat center/cover;
  width: 148px;
  height: 84px;
  top: 159px;
  left: 50%;
  translate: -50%;
}

/* 귀 공통 */
.ear {
  width: 57px;
  height: 88px;
  top: 51px;
  border: 5px solid #7b13b7;
}
/* 왼귀 */
.ear1 {
  left: -50px;
  border-radius: 50% 0 0 50%;
}

/* 오른귀 */
.ear2 {
  right: -50px;
  border-radius: 0 50% 50% 0;
}

/* 로봇가슴 가상요소로 만들기 */
.robot-body::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 84%;
  top: -5%;
  left: -20%;
  background-image: linear-gradient(to bottom, rgb(53, 38, 222), lightpink);
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  border-radius: 15%;
}
/* 로봇골반 가상요소로 만들기 */
.robot-body::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 26%;
  bottom: -5%;
  left: -5%;
  background-image: linear-gradient(to bottom, rgb(53, 38, 222), lightpink);
  z-index: 1;
  clip-path: polygon(
    0% 20%,
    10% 0%,
    90% 0%,
    100% 20%,
    90% 70%,
    50% 100%,
    10% 70%
  );
  background-image: linear-gradient(
    to top,
    lightseagreen,
    rgba(51, 26, 120, 0.796)
  );
  border-radius: 15%;
}
/* 로봇몸통 */
.robot-body {
  position: relative;
  width: 180px;
  height: 320px;
  margin: 0 auto;
  margin-top: 50px;
}
/* 몸통 자식요소 모두 앱솔루트 */
.robot-body > div {
  position: absolute;
}
/* 목  */
.neck {
  width: 84px;
  height: 50px;
  top: -50px;
  left: 50%;
  translate: -50%;
  border-radius: 15px;
}
/* 팔공통 */
.arm {
  top: 0;
  width: 50px;
  height: 180px;
}
/* 팔 관절 가상요소로 만들기 */
.arm::before,
.arm::after,
.leg::after,
.leg::before{
  content: "";
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  height: 25%;
  border-radius: 20%;
  background-image: linear-gradient(to bottom, #ccc, rgb(77, 67, 67));
  border: 3px dashed #222;
  /* 사이즈에 보더 포함 */
  box-sizing: border-box;
  z-index: 1;
}
/* 팔관절 가상요소 after변경 */
.arm::after,.leg::after {
  background-image: linear-gradient(to top #ccc, gray);
  /* 보더없애기 */
  border: none;
  /* 크기축소 x축 0.8 y축 0.5 */
  scale: .9 .5;
}
/* 왼팔 */
.arm1 {
  left: -65px;
}
/* 오른팔 */
.arm2 {
  right: -65px;
}
/* 팔하단 span */
.arm span {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 60%;
  border-radius: 25%;
}
/* 로봇손 가상요소 */
.arm span::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 65px;
  height: 80px;
  left: 58%;
  translate: -50%;
  background: url(../images/hand_left.png) no-repeat 0/100%;
}
/* 오른손 가상요소 */
.arm2 span::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 65px;
  height: 80px;
  left: 58%;
  translate: -59%;
  background: url(../images/hand_right.png) no-repeat 0/100%;
}
/* 어깨공통 */
.shdr {
  width: 70px;
  height: 80px;
  top: -15px;
}
/* 왼어깨 */
.shdr1 {
  left: -70px;
  border-radius: 50% 0 0 50%;
}
/* 오른어깨 */
.shdr2 {
  right: -70px;
  border-radius: 0 50% 50% 0;
}
/* 다리공통 */
.leg {
  top: 100%;
  width: 70px;
  height: 170px;
}
/* 왼다리 */
.leg1 {
  left: 0;
}
/* 오른다리 */
.leg2 {
  right: 0;
}
/* 다리하단 span */
.leg span {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 70%;
}
/* TV */
.tv {
  top: 20%;
  left: 50%;
  width: 175px;
  height: 140px;
  background: url(../images/tv.jpg) no-repeat 0/100%;
  translate: -50%;
  border-radius: 25%;
  z-index: 2;
}

/*************************************** 3.하단영역 ***************************************/
