@charset "utf-8";

/* 도깨비 PJ 메인페이지 미디어쿼리 - media_main.css */

/* 1360px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1360px) {
  /* 인박스 패딩 변경 */
  .inbox {
    padding: 0 2vw;
  }
}
/* 1360px 이하 미디어쿼리 끝 */

/* 1200px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1200px) {
  /* 전체 글자 크기 변경 */
  html {
    font-size: 9px;
    overflow-x: hidden;
  }
}
/* 1200px 이하 미디어쿼리 끝 */

/* 1024px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1024px) {
  /* 전체 글자 크기 변경 */
  html {
    font-size: 8px;
  }
  /* 전체 메뉴박스 변경 */
  .menu-box {
    position: fixed;
    top: 0;
    /* 오른쪽 바깥에 나가있는 상태
    -> 햄버거버튼 클릭시 화면에 등장(0으로 변경) */
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding-right: 0;
    /* 상단 로고와 메뉴보다 위에 위치하게 하기 */
    /* 그러나 하위메뉴 클릭전에는 상단이 먼저 보여야한다
    ㄴ> 여기서 주지말고 JS에서 처리하도록하자. */
    /* z-index: 1; */

    /* transition 부여 */
    transition: left 0.5s ease-in-out;
  }
  /* 상단영역 최상위 부모인 #top-area에 클래스 on을 주면
  메뉴박스인 .menu-box가 left값이 0%로 변경한다. */
  #top-area.on .menu-box {
    left: 0%;
  }
  /* 메뉴그룹 변경 */
  .menu-group {
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10vh 5vw;
  }
  .gnb-menu ul {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4vw;
    font-size: 2.5vh;
  }
  /* GNB메뉴 가로크기 변경 */
  nav.gnb-menu {
    width: 100%;
}

/* GNB메뉴 아이콘 크기위치 변경 */
.gnb-menu i {
    float: right;
    rotate: -90deg;
    scale: 2;
    translate: 0 150%;
}
/* 서브메뉴 화면 채우기 설정변경 */
.sub-menu {
    position: fixed;
    top: 0;
    left: 100%;
    /* 바깥으로 내보내두기 */
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: white;
    max-height: none;
}
/* 서브메뉴에 클래스 on을 주면 .sub-menu가 left값이 0%로 변경 */
.sub-menu.on {
    left: 0;
}
/* GNB메뉴 기존 높이값 해제 */
.gnb-menu ul {
    height: auto;
}
/* GNB메뉴 li 기존 가로값 해제 */
.sub-list li {
    width: auto;
}

  .top-menu {
    border-bottom: 3px double #000000;
    margin-top: 5vh;
    line-height: 4;
    width: 85vw;
  }
  /* 미리보기 파트 1줄에 3개씩*/
  .preview-area li {
    width: calc((100% - 1.5% * 2) / 3);
  }
  /* 현장포토&대표 포스터 : 한줄에 3개씩 */
  .live-box ul,
  .poster-box ul {
    grid-template-columns: repeat(3, 1fr);
  }
  /* 대표포스터 li 그리드 설정 초기화 */
  .poster-box ul li {
    /* 가상클래스로 설정된 li도 강제적용을 위해
        !important 사용 */
    grid-row: auto !important;
  }
  /* 하단영역 플레스 방향 변경 및 수직방향 정렬조정 */
  #bottom-area .cont-box {
    flex-direction: column;
    align-items: flex-start;
  }
  /* 모바일용 버튼 그룹박스 보이게 하기 */
  .btn-group {
    display: flex;
  }
  /* 상단영역 높이값 변경 */
  .top-area {
    height: 60px;
  } 
  /* 로고박스 스케일변경 */
  .logo-box{
    scale: .5;
  }
/* 타이틀바 소속 버튼 -모바일에서 보이게 하기*/
.title-bar button{
display: block;
  
}

/* 배너버튼 스케일 조정 */
  .abtn{
      transform: translateY(-50%) scale(0.6);
  }
}

/* 1024px 이하 미디어쿼리 끝 */




/* 800px 이하 미디어쿼리 시작 */
@media screen and (max-width: 800px) {
  /* 플렉스 방향 변경 */
  .intro-part .cont-box {
    flex-direction: column;
  }
  /* 미리보기 파트 : 한줄에 2개씩 */
  .preview-area li {
    width: calc((100% - 1.5% * 1) / 2);
  }
  /* 현장포토 & 대표포스터 : 한줄에 2개씩 */
  .live-box ul,
  .poster-box ul {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 캐릭터 소개 박스 */
  /* 캐릭터 박스 */
.cat-box {
flex-wrap: wrap;
}
/* 직계자식요소 div 4개 */
.cat-box > div {
flex-basis: 49.5%;
}
/* 캐릭터 글자박스 변경 */
.cat-box > div:hover aside {
  /* 글자박스가 캐릭터 박스보다 위로 위치해야함 */
   position: relative;
    z-index: 1;
    background: none;
    height: 27vw;
    margin-top: -27vw;
}
/* 캐릭터 이미지 박스 변경 */
.cat-box > div:hover figure {
    margin-top: 0;
    opacity: .3;
}
/* 캐릭터 타이틀 변경 */
.cat-box > div:hover aside h3 {
    font-size: 3.2vw;
}
/* 캐릭터 설명 변경 */
.cat-box > div:hover aside p {
    font-size: 1.8vw;
}

}
/* 800px 이하 미디어쿼리 끝 */
