@charset "UTF-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS불러오기 */
/* @import url(경로/파일명); */

/* 초기화 CSS */
@import url(reset.css);
/* 상단,하단 공통모듈 */
@import url(./common.css);

/* 공통설정 */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든것을 선택하는 문자열 */
.main-area > * {
  margin-bottom: 20px;
}

/* 2-1 서브타이틀 */
.sub-title {
  /* (1)박스디자인 */
  /* 패딩 p40 */
  padding: 40px;
  /* 글자중앙 tac */
  text-align: center;
  /* 테두리bd */
  border: 2px solid #17bd3b;
  /* 둥근모서리 bdrs */
  border-radius: 20px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg-> 색이반고윙/크*/
  /* background: url(../images/titbg4.jpg) no-repeat 0 / cover; */

  /* (2)글자디자인 */
  font-family: "Dongle";
  /* 글자크기 fz30 */
  font-size: 50px;
  /* 글자테두리 -webtst ->테두리를 얇게 하려면 px단위 숫자를 소수점 아래로! */
  -webkit-text-stroke: 0.5px black;
  /* 접두어란? 
  속성앞에 -webkit- 라고 쓰면 크롬, 사파리 브라우저용 속성임
  -ms- 마이크로 소프트
  -o- 오페라 브라우저
  -moz- 파이어폭스
  이 속성은 이미 공식적으로는 아니지만 다른 최신브라우저에서 사용됨*/
}
/* 각 서브별 개별타이틀 세팅변경하기 */
/* (1) 경제페이지  */
.economy {
  background-image: url(../images/titbg2.jpg);
  color: #ff7b00;
}
/* (2) 사회페이지  */
.social {
  background-image: url(../images/titbg3.jpg);
  color: #0fef08;
}
/* (3) IT/과학페이지  */
.it {
  background-image: url(../images/titbg4.jpg);
  color: #6b63bd;
}
/* (4) TV/연예페이지  */
.tv {
  background-image: url(../images/titbg5.jpg);
  color: #ff0055;
}
/* 2-2. 언론사로고 */
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목 */
.article-title {
  font-size: 33px;
}

/* 스페셜 박스(추가정보) */
.special-box {
  font-size: 18px;
}
/* 스페셜박스 제목 */
.special-box h4 {
  /* 왼족 보더 */
  border-left: 3px solid #000;
  /* 왼쪽패딩 */
  padding-left: 20px;
  /* 아래쪽 간격 */
  margin-bottom: 40px;
}
/* 스페셜 내용 */
.special-box p {
  line-height: 1.7;
}
/* 2-4. 기사사진  */
/* figure요소의 기본 마진,패딩 초기화 */
.article-picture img {
  width: 100%;
}
/* 이미지설명 */
.article-picture figcaption {
  /* 박스설정 */
  text-align: center;
  /* 마진 위아래 20 */
  margin: 20px;
  /* 글자설정 */
  font-size: 15px;
  color: #555;
}
/* 2-5. 기사내용 */
.contents p {
  /* 글자설정 */
  font-size: 18px;
  /* 줄간격lh px는 픽셀값 숫자값은 배수로 간다*/
  line-height: 1.7;
}

/* mark요소 디자인변경 */
.contents mark {
  /* 기존 inline에서 block로 변경 */
  display: block;
  /* 박스설정 */
  background-color: brown;
  padding: 60px;
  border-bottom: 2px solid #222;
  border-top: 2px solid #222;
  margin: 20px 100px;
  /* 글자설정 */
  font-family: fangsong;
  color: yellow;
  font-size: 30px;
  text-shadow: 2px 2px 2px #0000009e;
}

/* 2-6. 기자정보 */
.reporter {
  font-size: 16px;
  color: #333;
}
/* 2-7. 기사원문 */
.article-link {
  /* 인라인 오른쪽 정렬 */
  text-align: right;
}
/* 버튼 a요소 */
.article-link a {
  /* 디자인 적용 및 부모박스의 문자열 정렬 적용되도록 인라인블록으로 변경 */
  display: inline-block;
  /* (1)박스설정 */
  width: 100px;
  height: 100px;
  border: 2px solid #c43f3f;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(7, 234, 234, 0.859);
  line-height: 100px;
  /* 글자설정 */
  font-family: jua;
  font-size: 20px;
  color: #bd8a63;
}
/* 버튼 a 마우스 오버시 
-> 가상클래스 :hover사용*/
.article-link a:hover {
  /* 배경색 */
  background-color: #ff0055;
  /* 박스그림자
    box-shadow:
    inset(내부그림자) x축 y축 블러 확장 그림자색; 
    ->글자 그림자에는 없는 "확장"(spread)가 있음
    그림자 확장 가능
    그리고 콤마로 설정을 연결하면 여러개의 그림자 사용가능*/
  box-shadow: inset 0 0 5px 5px#00000098,
    /* 외부그림자 */ 4px 4px 3px rgba(0, 0, 0, 0.821);
  /* 그냥 내가 넣은거 */
  color: blue;
  text-decoration-line: overline;
  text-decoration-style: wavy;
}
/* 기사 설명 공통 박스 디자인 */
.desc-box {
  /* 경계선을 위와 아래만 설정함 */
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;

  padding: 20px;
  margin-top: 50px;
}
/* 기사 설명 공통 제목 디자인 */
.desc-box h4 {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #ededed;
  margin-bottom: 17px;
}

/* 기사 설명 공통 내용박스 디자인
공통이지만 인용블록은 blockquote이고
주해는 p요소를 쓰고 있으므로 공통은
.desc-box h4+ *
설명: h4요소 다음 형제(+)요소 선택인데
별(*)을 사용하여 어떤 타입이든 모든 선택함! */

.desc-box h4 + * {
  font-size: 18px;
  line-height: 1.7;
  /* 양쪽정렬은 text-align:justify 로 설정함! */
  text-align: justify;
}

/* 인용블록 박스 */
.quote-box img {
  width: 200px;
  /* float속성을 인라인요소에 사용할경우
    나 자신은 오른쪽에 가고 다른 인라인요소는
    그 옆으로 흐른다. 이 경우에는 이미지의 글자는
    한줄만 옆에 오는데 이미지 높이만큼 글자가
    옆으로 흘러가게 할 때 사용한다 */
  float: right;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 8px 8px 7px #00000057;
}
/* 뉴스 공통 박스 디자인 */
.news-box {
  border-top: 2px dashed #ccc;
  padding: 20px;
  margin-top: 50px;
}
/* 뉴스 공통 제목 디자인 */
.news-box h3 {
  font-size: 25px;
  padding: 15px;
  margin-bottom: 17px;
  background-image: linear-gradient(to right, #d53e3e 30%, orange, white);
  font-family: "Jua";
  font-weight: normal;
  width: 35%;
}

/* 뉴스 공통 a링크 */
.news-box a {
  font-size: 18px;
  line-height: 38px;
}
/* a 오버시 가상클래스 :hover */
.news-box a:hover {
  /* 글자색, 글자 그림자 */
  color: rgb(240, 121, 10);
  text-shadow: 2px 2px 1px black;
}

/* 테크뉴스 파트
가상요소 를 사용하여 앞에 아이콘 넣기
앞에넣기 ::before
뒤에넣기 ::after
-> 필수 속성 -> content  
*/
.tech-news a::before {
  content: "😁";
}
.tech-news a::after {
  content: "😂";
}

/* 오늘의 작품&느낌 */
.work {
  background-image: linear-gradient(104deg, black 30%, orange, white);
  padding: 10px 46px 20px;
  text-align: center;
  /* 박스그림자 : bxsh (inset내부그림자)*/
  box-shadow: inset 0 0 20px #352828;
  /* box-shadow: inset x축 y축 블러 확장 색; */

  /* 최대크기 설정시 부모박스가 그 크기보다 작아지면
    auto로 전환하여 크기가 유동적으로 바뀜*/
  min-width: 500px;
  /* 블록요소 무대중앙 */
  margin: 0 auto;
  /* 마진 중첩의 원리에 따라 작은 마진값이 큰 마진값 안으로 들어감
    따라서 위에 마진값인 20px보다 더 큰 값을 주면 위 아래 박스
    사시의 실제 마진값이 설정된다 */
  border-radius: 20px;
  margin-top: 50px;
}
/* 제목 */
.work h4 {
  font-family: "dongle";
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 21px;
  color: antiquewhite;
  -webkit-text-stroke: 0.5px black;
}
/* 그림 */
.work img {
  border: 20px ridge palegoldenrod;
  max-width: 50%;
}
/* 설명 */
.work figcaption {
  font-size: 40px;
  font-family: "Dongle";
  color: darkred;
  -webkit-text-stroke: 0.4px black;
  margin-top: 10px;
}
/* 작품명 */
.work figcaption cite {
  font-style: normal;
  color: #17335f;
}

/* 그라데이션  ->배경 이미지속성에 쓴다
예전에는 모두 이미지로 만들었었다
    [ 선형 그라데이션 : linear-gradient ]
    linear-gradient(방향,색1,색2,...);
    linear-gradient(방향,색1 몇%,색2 몇%,...);
    linear-gradient(각도,색1 몇%,색2 몇%,...);
    - 옵션 : 
    1. 방향: to top, to bottom, to left, to right
    2. 각도: 각도deg
    3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능 */
